<script type="text/javascript" src="<mt:StaticWebPath />plugins/TabbedEditPage/js/jquery.json.min.js">
</script>
<script type="text/javascript">
(function($) {
	var settings = $.evalJSON('<mt:Var name="settings" encode_js="q" />');
	var $tabs = $('<ul id="tabbed_edit_page_tabs" />');
	var $mainContent = $('#main-content');
	var $container = $('#title-field').parent();

	var $allFields = $('#main-content .field');
	var $initialTab = null;
	$(settings).each(function(i, tab) {
		var $a = $('<a href="#">' + tab.label + '</a>');
		$a.on('click', function(ev) {
			ev.preventDefault();
			ev.stopPropagation();

			$allFields.filter(':not(#text-field)').hide();
			$('#editor').hide();
			$('#editor-content').
				css('height', '0px').
				css('width', '0px').
				css('visibility', 'hidden');
			$('#text-field').css('margin-bottom', '0');
			$(tab.fields).each(function(j, f) {
				if (f == 'text') {
					$('#editor').show();
					$('#editor-content')
						.css('height', '')
						.css('width', '')
						.css('visibility', 'visible');
					$('#text-field').css('margin-bottom', '');
				}
				else {
					$('#' + f + '-field').show();
				}
			});

			$tabs.find('a').removeClass('active');
			$a.addClass('active');
		});
		$tabs.append($('<li />').append($a));
		if (i == 0) {
			$initialTab = $a;
		}

		for (var j = tab.fields.length-1; j >= 0; j--) {
			$container.after($('#' + tab.fields[j] + '-field').removeClass('hidden'));
		}
	});
	if (settings.length < 2) {
		$tabs.hide();
	}

	$(function() {
		$mainContent.prepend('<br clear="both" />');
		$mainContent.prepend($tabs);
		$initialTab.triggerHandler('click');
	});
})(jQuery);
</script>
