<script type="text/javascript" src="<mt:Var name="static_uri">plugins/TabbedEditPage/js/jquery.json.min.js">
</script>
<script type="text/javascript">
(function($) {
	var settings = $.evalJSON('<mt:Var name="settings" encode_js="q" />');
	var $tabs = $('<ul id="tabbed_edit_page_tabs" />');
	var $mainContent = $('#main-content');
	var $container = $('#title-field').parent();
	$container.css('visibility', 'hidden');

	var $allFields = $('#main-content .field');
	var $initialTab = null;
	var $field;
	$(settings).each(function(i, tab) {
		var $a = $('<a href="#">' + tab.label + '</a>');
		$a.on('click', function(ev) {
			ev.preventDefault();
			ev.stopPropagation();

			$allFields.css({
				height: '0',
				width: '0',
				visibility: 'hidden',
				'margin-bottom': '0'
			});
			$(tab.fields).each(function(j, f) {
				$('#' + f + '-field').css({
					height: '',
					width: '',
					visibility: 'visible',
					'margin-bottom': ''
				});
			});

			$tabs.find('a').removeClass('active');
			$a.addClass('active');
		});
		$tabs.append($('<li />').append($a));
		if (i == 0) {
			$initialTab = $a;
		}

		for (var j = tab.fields.length-1; j >= 0; j--) {
			$field = $('#' + tab.fields[j] + '-field');
			$field.removeClass('hidden');
			$field.find('.field-header').css({cursor: 'default'});
			$container.after($field);
		}
	});
	if (settings.length < 2) {
		$tabs.hide();
	}

	$(function() {
		$mainContent.prepend('<br clear="both" />');
		$mainContent.prepend($tabs);
		$initialTab.triggerHandler('click');
		$container.css('visibility', 'visible');
	});
})(jQuery);
</script>
